@import url("./_reset.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: futura;
    font-size: 16px;
}

h1 {
    font-size: 3.6em;
    text-align: left;
}

h2 {
    font-size: 1.6em;
}

/*grid*/

main {
    width: 700px;
    margin: 10px auto;
    border: 1px solid red;
}

.row {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;

}

.col {
    border: 2px dashed black;
    height: 0px;
    padding-bottom: 32%;
    text-align: center;
    padding-top: 2%;
}

.one-of-3 {
    flex: 1;
}

/*grid border*/

.NS {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    border-right: 0px;
    border-left: 0px;
}

.EW {
    border-top: 0;
    border-bottom: 0;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

.center {
    border: 0;
}

/* blue border*/


.border-tl {
    background: url(./images/border-tl.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
}

.border-tr {
    background: url(./images/border-tr.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: top right;
}

.border-bl {
    background: url(./images/border-bl.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: bottom left;
}

.border-br {
    background: url(./images/border-br.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: bottom right;
}

/*grid content*/
a,img,h1,h2 {
    border: 1px solid red;
    max-width: 90%;
    margin: 0 auto;
}

/*section*/

section {
    border: 1px solid green;
    position: absolute;
    max-width: 700px;
}

article {
    border: 1px solid yellow;
    max-width: 66.6%;
    float: right;
}

/*footer*/

footer {
    font-size: 12px;
    width: 700px;
    margin: 0 auto;
}

/*responsive*/

@media (max-width: 800px) {
    * {
        font-size: 14px;
    }

    h1 {
        font-size: 2.7em;
    }

    h2 {
        font-size: 1.2em;
    }

    main, section, footer {
        width: 90%;
    }
}

@media (max-width: 460px) {
    * {
        font-size: 12px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.1em;
    }
}
