@import url("./_reset.css");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: futura;
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3.6em;
    text-align: left;
    padding: 0px;
}

h2 {
    font-size: 1.6em;
}

a:visited {
    color: blue;
}

.index a:hover {
    font-size: 1.3em;
    transition: all 0.2s ease-out 0s;
}

/*grid index*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 700px;
    margin: 10px auto;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;

}

.square {
    border: 2px dashed black;
    text-align: center;
    flex: 1;
    padding: 1%;
}


/* grid biography.html*/

.main-biography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sq-bio {
    padding: 5%;
}

.padding-13 {
    padding-top: 13%;
}

.padding-5 {
    padding-top: 5%;
}

nav {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    border: 2px dashed black;
    border-left: 0;
    flex: 2 0 400px;
    padding: 3%;
    overflow: auto;
}

/*grid works.html*/
.fixed {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0px;
}

.main-works .border-works {
    flex: 2;
    border: 2px dashed black;
    border-bottom: 0;
}

article {
    width: 650px;
    margin: 10px auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 350px;
}

.gallery {
    flex: 1;
    height: 380px;
}

.gallery .images {
    height: 210px;
}

/*grid quotes.html*/

.main-quotes .border-quotes {
    border: 2px dashed black;
    border-right: 0;
}


/*grid border*/

.NS {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    border-right: 0px;
    border-left: 0px;
}

.EW {
    border-top: 0;
    border-bottom: 0;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

.EW-bio {
    border-top: 0;
    border-bottom: 0;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}


.center {
    border: 0;
}

/* blue border*/

.border-tl {
    background: url(./images/border-tl.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
}

.border-tr {
    background: url(./images/border-tr.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: top right;
}

.border-bl {
    background: url(./images/border-bl.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: bottom left;
}

.border-br {
    background: url(./images/border-br.png) no-repeat;
    background-origin: border-box;
    background-size: 50%;
    background-position: bottom right;
}

.border-bio {
    background: url(./images/border-tl.png) no-repeat, url(./images/border-br.png) right bottom no-repeat;
    background-origin: border-box;
    background-size: 28%;
}

.border-works {
    background: url(./images/border-tl.png) no-repeat, url(./images/border-br.png) right bottom no-repeat;
    background-origin: border-box;
    background-size:20%;
}

.border-quotes {
    background: url(./images/border-bl.png) left bottom no-repeat, url(./images/border-tr.png) right top no-repeat;
    background-origin: border-box;
    background-size:20%;
}

/*grid content*/
a,img,h1,h2 {
    max-width: 100%;
    max-height: 100%;
}

.main-biography h2 {
    position: absolute;
    color: blue;
}

.main-works .row .square a {
    color: white;
}

/*footer*/

footer {
    font-size: 12px;
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

/*responsive*/

@media (max-width: 800px) {
    * {
        font-size: 14px;
    }

    h1 {
        font-size: 3.4em;
    }

    h2 {
        font-size: 1.2em;
    }

    main, footer {
        width: 600px;
        height: 600px;
    }

    article {
        width: 550px;
        padding-top: 80px;
        padding-bottom: 400px;
    }

    .gallery {
        height: 340px;
    }

    .gallery .images {
        height: 178px;
    }


}

@media (max-width: 500px) {
    * {
        font-size: 12px;
    }

    h1 {
        font-size: 2.1em;
    }

    h2 {
        font-size: 1em;
    }

    main, footer {
        width: 315px;
        height: 315px;
    }

    /*biography*/

    .main-biography {
        width: 315px;
        height: 420px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .sq-bio {
        padding: 2%;
    }

    section {
        flex: 3;
        border: 2px dashed black;
        border-bottom: 0;
    }

    nav {
        flex: 1;
        flex-direction: row;
    }

    .EW-bio {
        border-top: 2px dashed black;
        border-bottom: 2px dashed black;
        border-right: 0px;
        border-left: 0px;
    }

    /*works*/
    .main-works {
        width: 315px;
        height: 420px;
    }

    .main-works section {
        flex: 3;
    }

    .main-works .border-works {
        flex: 3;
    }

    article {
        width: 300px;
        padding-top: 50px;
        padding-bottom: 470px;
    }

    .gallery {
        height: 270px;
    }

    .gallery .images {
        height: 95px;
    }

    /*quotes*/

    .main-quotes {
        flex-direction: column;
    }

    .main-quotes .border-quotes {
        border: 2px dashed black;
        border-bottom: 0;
    }
}
